<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body style="margin-left:50px">
    <h2>PrimeFaces Polling Example</h2>
    <h:form>
        CPU usage:
        <b>
            <h:outputText id="cpu_usage" value="#{cpuUsageBean.cpuUsage} %"/>
        </b>
        <p:poll interval="1" update="cpu_usage"/>
    </h:form>
</h:body>
</html>